@import 'material-icons/iconfont/material-icons.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 6rem 4rem;
  background-image: url('/patternBackground.png');
  background-repeat: repeat;
  /* background-size: cover; */
  background-color: #472b74;
  color: white;
}

@media (max-width: 600px) {
  .container {
    padding: 5rem 2rem;
  }
}

.main {
  min-height: 100vh;
}

.headline .MuiTypography-h1 {
  padding-top: 3rem;
  font-weight: 700;
  font-size: 82px;
  line-height: 87px;
  text-align: center;
}

.headline .MuiTypography-h1 strong {
  color: #e9da07;
}

@media (max-width: 600px) {
  .headline .MuiTypography-h1 {
    font-size: 42px;
    line-height: 47px;
  }
}

.assessmentCard {
  background-color: #472b77;
  color: white;
  border-radius: 20px;
}

.roundedIcon {
  background-color: white;
  color: #472b77;
  border: 1px solid white;
  border-width: 8px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
}

.answerButton {
  background-color: white;
  color: #472b77 !important;
}

.answerButton:hover {
  background-color: white;
  color: #472b77 !important;
}

.clickHere {
  color: white;
  float: right;
}

.map-h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 20px;
  padding-left: 10px;
  text-align: center;
}

.google-map {
  width: 100%;
  height: 30vh;
}

.pin {
  display: flex;
  align-items: center;
  width: 180px;
  color: var(--main-blue);
}

.pin-icon {
  font-size: 4rem;
}

.pin-text {
  font-size: 1.3em;
}

.container p {
  padding: 7px 0;
}

.container .assessmentStart {
  background-color: #f35ccb;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  min-width: 150px;
  text-transform: none;
}

.container .assessmentStart:hover {
  background-color: #f35ccb;
}

@media (min-width: 0px) and (max-width: 415px) {
  .container .MuiTypography-h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.03em;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .container .assessmentStart {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    min-width: 100px;
    padding: 15px 25px;
  }

  .progressBars div {
    width: 100%;
  }

  .questionBox {
    padding: 0;
  }

  .container .MuiTypography-body1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    text-align: center;
    letter-spacing: 0.03em;
  }

  .container .clinicInstructions .MuiTypography-body2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    /* or 124% */

    text-align: center;
    letter-spacing: 0.03em;
  }
}

.container .clinicDetails {
  border: 1px solid #d0bcff;
  color: #d0bcff;
  border-radius: 50px;
  padding: 0.25rem 1rem;
  text-transform: none;
}

.container .clinicDetails:hover {
  border: 1px solid #d0bcff;
}

p.clinicName {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.clinicDistance {
  color: #d0bcff;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: right;
  letter-spacing: 0.03em;
}

.container .assessmentStart p {
  padding: 0;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 799px) {
  .map {
  }
  .google-map {
    height: 60vh;
    min-height: 500px;
  }

  .map-h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .pin {
    width: 15vw;
  }

  .pin-icon {
    font-size: 10vw;
  }
}
